{% include 'base.html' %} {% block title %} {% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% for article in articles %}
      <div class="card card-custom">
         <img class="card-img-top card-img" src="/static/imgs/{{article.path}}" alt="article image" style="max-height: 100px;">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'citizen:detail' id=article.id %}">{{ article.title }}</a></h5>
          <p class="card-text">

          </p>
        </div>
        <div class="card-footer custom-cardfooter">
          <small class="text-muted"> {{article.author}}</small>
          <small class="text-muted text-right"
            >Published On {{article.published_on}}</small
          >
        </div>
      </div>

      {% endfor %}
    </div>

    <div class="col-md-4 aside-div">
      <h3>Citizen Twitter feed @citizenTv_ke</h3>
    </div>
  </div>
</div>

{% endblock %}
